@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --primary: #34B3F1;
  --secondary:white;
  --secondary-light0: #f3f3f3;
  --secondary-light1:#d3d3d3;
  --secondary-light2:rgb(173, 173, 173);
  --secondary-light3:#565656;
  --secondary-light4: rgb(204, 204, 204);
  --dark1:#222222;
  --dark2:#050505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--secondary);
}

/* SECCION INICIO */
#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(70, 130, 180, 0.2)),
    url("../images/developer.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#inicio header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#inicio header .contenido-header h1 {
  text-align: center;
  color: var(--secondary);
  transition: .5s;
  /* color: #3ab0ff; */
}
#inicio header .contenido-header h1:hover {
  color: var(--primary);
}

#inicio header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio header .contenido-header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary);
  margin: 0 12px;
  font-weight: 700;
  transition: .5s;
}

#inicio header .contenido-header nav ul li a:hover {
  color: var(--primary);
}

#icono-nav {
  color: var(--secondary);
  display: none;
}

#inicio header .contenido-header .redes a {
  text-decoration: none;
  color: var(--secondary);
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 1.5rem;
  transition: .5s;
}

#inicio header .contenido-header .redes a:hover {
  color: var(--primary);
}

#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inicio .presentacion .bienvenida {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
}

#inicio .presentacion h2 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .presentacion h2 span {
  font-size: 30px;
  color: var(--primary);
}

#inicio .presentacion .descripcion {
  /* max-width: 700px; */
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .presentacion a {
  text-decoration: none;
  /* display: inline-block; */
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid var(--secondary);
  border-radius: 50px;
  color: var(--secondary);
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}

#inicio .presentacion a:hover {
  background-color: rgba(52, 179, 241, .4);
}



/* SECCION SOBRE MI */
#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: var(--dark2);
  display: flex;
  height: 100vh;
  align-items: center;
}

#sobremi .contenedor-foto {
  max-width: 300px;
  margin-right: 80px;
  /* align-self: flex-start; */
}

#sobremi .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--secondary-light1);
}

#sobremi .sobremi {
  margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
  font-size: 25px;
  text-transform: uppercase;
  color: var(--dark2);
  text-decoration: underline;
  text-decoration-color: var(--secondary-light1);
  text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
  color: var(--primary);
}

#sobremi .sobremi h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p {
  font-size: 16px;
  line-height: 25px;
  /* color: #565656; */
  color: var(--secondary-light3);
  margin-bottom: 12px;
}

#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: var(--dark2);
  border-radius: 30px;
  border: 2px solid var(--secondary-light2);
  padding: 10px 20px;
  margin-top: 30px;
  transition: .5s;
}

#sobremi .sobremi a:hover {
  background-color: var(--primary);
  font-weight: 500;
  color: var(--secondary-light1);
}

/* SECCION SERVICIOS */
#servicios {
  padding: 100px 15px;
  text-align: center;
  background-color: var(--secondary-light0);
  /* height: 100vh; */
}

#servicios .titulo-servicios {
  font-size: 25px;
  text-transform: uppercase;
  color: var(--dark2);
  text-decoration: underline;
  text-decoration-color: var(--secondary-light1);
  text-decoration-thickness: 5px;
}

#servicios .fila {
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

#servicios .fila .servicio {
  max-width: 350px;
  background-color: var(--secondary);
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: .5s;
}

#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--secondary-light1);
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: var(--dark2);
  margin-bottom: 25px;
}

#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#servicios .fila .servicio p {
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
}

/* SECCION TECNOLOGIAS */
#tecnologias {
  background-color: var(--secondary-light0);
  /* background-color: darkblue; */
  padding: 100px 0px;
  /* height: 100vh; */
  /* display: flex;
  align-items: center; */
}
#tecnologias .contenedor-habilidades img {
  width:90px;
}

#tecnologias .contenedor-habilidades h2 {
  padding: 30px 30px 90px 30px;
  font-size: 2.2rem;
}

#tecnologias .contenedor-habilidades {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,auto));
  gap:170px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 110px;
}
#tecnologias .conocimientos {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(105px,auto));
  justify-content: center;
  gap: 30px;
}

#tecnologias .herramientas {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(105px,auto));
  justify-content: center;
  gap: 30px;
}

#tecnologias h3 {
  background-color: var(--secondary-light1);
  text-align: center;
  border-radius: 5px;
  padding: 5px 0px;
  font-size: 1.1rem;
  width: 105px;
  opacity: 0;
  transform: translate(0px,-100px);
  transition: transform .5s ease, opacity 0.5s ease;
}

#tecnologias .conocimientos>div:hover h3,
#tecnologias .herramientas>div:hover h3 {
  opacity: 1;
  transform: translate(0px,-150px);
}
